<div class="group-list-container">

<div class = 'group-list'>

  <h2>My Groups</h2>
  <li *ngFor="let group of groups" (mouseover)="showGroupMembers(group.name)" (mouseout)="hideGroupMembers()" [ngClass]="{ 'active': group.name === activeGroup }">
    {{ group.name }}
    <div *ngIf="group.name === activeGroup" class="group-members">
      <p *ngFor="let member of getGroupMembers(group.name)">{{ member }}</p>
    </div>
  </li>
 
  
</div> 
  <h3>Create a New Group</h3>
  <div class="input-container">
    <input type="text" [(ngModel)]="newGroupName" placeholder="Group Name" class="text-input">
    <button (click)="createGroup()" class="btn">Create</button>
  </div>


  <h3>Add Members to an existing Group</h3>
  
  <!-- <div class="input-container">
    <select [(ngModel)]="newMemberGroupName" class="input">
      <option *ngFor="let group of groups">{{ group.name }}</option>
    </select>
    <input type="text" placeholder="Member Email" [(ngModel)]="newMemberEmail" class="input">
    <button (click)="addMember()" class="btn">Add</button>
</div> -->

  <div class="input-container">
    <input type="text" [(ngModel)]="newMemberGroupName" placeholder="Group Name" class="text-input">
    <input type="text" [(ngModel)]="newMemberEmail" placeholder="Member Email" class="text-input">
    <button (click)="addMember()" class="btn">Add</button>
  </div>

</div>
