<!-- <img src="assets/images/logo.png" alt="GroupMeetLogo" class="header-logo"/>GroupMeet -->

<!DOCTYPE html>
<html>
  <head>
    <title> GroupMeet </title>
      <meta charset="utf-8">
      <meta name = "viewport" content="width=device-width , initial-scale=1.0">
      <link rel="about-page-component" type="text/css" href="./about-page.component.css">


  </head>
  <body>
  <div class="heading">
    <h1> GroupMeet </h1>
    <br>
    <br>
  <p>
    Online Solution for Scheduling and Coordinating University Student Group Meetings
  </p>
</div>
<div class="container">
  <section class="about"></section>
  <div class="about-image"></div>
  <br>
  <br>
  <br>
  <br>
  <img src="assets/images/ab3.avif">
  <!-- <a href=""class = "read-more"> Read More</a> -->
</div>


<div class="about-content">
      <h2> An Online Solution for Scheduling and Coordinating University
      </h2>
      <h2>Student Group Meetings</h2>
      <h2>
        <br>
        <li>
        <p>Book availabilities,
          View upcoming events,
          Create new events
          </p></li>
        <br>
        <br>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </h2>


</div>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <!-- <img mat-card-image src="hjpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <p> <br> <br>GroupMeet a web application designed to make scheduling and coordinating meetings for university student groups easier and more efficient.
    </p>
    </mat-card-content>
  <mat-card-actions>
    <!-- <button mat-button>LIKE</button>
    <button mat-button>SHARE</button> -->
  </mat-card-actions>
</mat-card>


  </body>
</html>
