
<div class = "main">
  <div class="heading">
   <br>
   <br>
   <br>
   <br>
  <h1>About GroupMeet </h1>
  <br>
  <br>
  <br>
  <br>


     <p> We Coordenate University Student Group Meetings </p>
     <br>
     <br>
 </div>



 <!-- <div class="etsh2">
   </div> -->

 <div class="container">
   <section class="about"></section>
   <div class="about-image"></div>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>

   <br>
   <img src="assets/images/ab3.avif">
   <!-- <a href=""class = "read-more"> Read More</a> -->
 </div>



 <div class="about-content">
         <h2> An Online Solution for Scheduling and Coordinating University Student Group Meetings
         </h2>
         <br>
         <br>
         <br>
         <br>


         <br>
         <p>Book availabilities, View upcoming events, Create new events. The app intelligently selects
           the event time that suits all members, ensuring everyone's availability. Enjoy the flexible use
           and user-friendly interface of the app, making it easy for anyone to navigate and utilize.
         </p>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>


 </div>

 <mat-card class="example-card">
   <mat-card-header>
     <div mat-card-avatar class="example-header-image"></div>
   </mat-card-header>
   <mat-card-content>
     <p> <br><br><br><br> <br>GroupMeet a web application designed to make scheduling and coordinating meetings for university student groups easier and more efficient.
     </p>
     </mat-card-content>
   <mat-card-actions>
     <!-- <button mat-button>LIKE</button>
     <button mat-button>SHARE</button> -->
   </mat-card-actions>
 </mat-card>


 </div>
